<!DOCTYPE html>
<html>
  <head>
    <title>Qnapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
    <%= yield %>

    <% if user_signed_in? %>
      <%= link_to "Sign out", destroy_user_session_path(@user) %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path %>
      <%= link_to "Sign in", new_user_session_path %>
    <% end %>
  </body>
</html>
